@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 240, 240;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 50;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.04) 50%, rgba(0,0,0,0) 100%);
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
  pointer-events: none;
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: -100px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0A0A0A; 
}
::-webkit-scrollbar-thumb {
  background: #2E2E2E; 
  border: 1px solid #00FF00;
}
::-webkit-scrollbar-thumb:hover {
  background: #00FF00; 
  border: 1px solid #0A0A0A;
}

.text-glow {
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.text-glow-red {
  text-shadow: 0 0 5px rgba(139, 0, 0, 0.7);
}
